

.navbar-brand {
    position: absolute;
    align-items: center;
    display: flex;
    justify-content:center;
    height: 100px;
    width: 100%;
    font-weight: bold;
    background-color: red;
}



footer{
    background-color: red;
    color:white;
    text-align: center;
    height: 13%;
    width: 100%;
    bottom: 0px;
    position: relative;
   
    
}

.img-container{
    border: solid 1px black;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 20%;
    margin-bottom: 2%;
    
    
    

}

img{
    
    padding: 2%; /*tenga eapcio desde adentro*/
    
}


#imagen{
    text-align: center;
    
}
   
  
  .img2-container{ /*SOLO IMAGEN DISEÑO*/
  
      display: flex;
      float: right;
      background-position: right right;
      margin-right: 10px; /*DISTANCIA DESDE LA FOTO A LA MARGEN*/
      
      
      
  } 
  .tex-container .p{   /*SOLO TEXTO*/
      float: left;
      text-align: left;

      
      
  }
  .tex-container h2{ /*SOLO TEXTO*/
      float: center;
      text-align: justify;
    }


    